[Unit]
Description=circl dot lu CPE guesser service
Documentation=https://github.com/cve-search/cpe-guesser

[Service]
WorkingDirectory=$(INSTALLDIR)/bin
ExecStart=python3 import.py -d -u
User=$(CPE_USER)
Type=oneshot
StandardOutput=append:/var/log/cpeguesser_message.log
StandardError=append:/var/log/cpeguesser_error.log
