[Unit]
Description=circl dot lu CPE guesser service
#Requires=mongodb.service redis-server.service
Documentation=https://github.com/cve-search/cpe-guesser
after=network.target

[Service]
WorkingDirectory=$(INSTALLDIR)/bin
ExecStart=python3 server.py
User=$(CPE_USER)
Group=$(CPE_USER)
Type=simple
Restart=on-failure
StandardOutput=append:/var/log/cpeweb_message.log
StandardError=append:/var/log/cpeweb_error.log

[Install]
WantedBy=multi-user.target
